header {
    background: #0faedf;
    padding: 10px 50px !important;
}

.logo {
    max-height: 60px;
}

.btn-header {
    background: blue;
    color: white;
    font-size: large;
    border-radius: 15px;
    border: none;
    height: 30px;
    transition: all 50ms;
    margin: 0px 15px;
}

.btn-header:hover {
    box-shadow: 0px 0px 10px black;
}

.link-header {
    color: black;
    text-decoration: none;
    font-size: large;
    margin: 0px 15px;
    transition: all 50ms;
}

.link-header:hover {
    text-decoration: underline;
    color: black;
}

.pesquisa {
    padding: 5%;
    background: #0faedf;
}

.label-search {
    text-align: center;
    color: white;
    font-size: 28pt;
}

#search {
    height: 40px;
    width: 50%;
    margin: 0px 10px;
}

.btn-search {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    background: white;
    color: #0faedf;
}

.card-livro {
    background: #163e4b80 ;
    min-height: 200px;
    padding: 10px;
    transition: box-shadow 100ms 20ms;
}

.card-livro a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.card-livro:hover {
    box-shadow: 5px 0px 20px black;
}

.about-us {
    background: #0faedf;
    margin-top: 100px;
    padding: 15px 0px;
}

.foto-integrante {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 50px;
    left: 35px;
    width: 150px;
    height: 150px;
}

.foto-integrante img {
    width: 100%;
    object-fit: cover;
}

.infos-integrante {
    margin-top: 75px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 75px;
    padding-bottom: 10px;
    color: white;
}

.midias-integrante {
    padding: 0px 20px;
}

.midias-integrante a {
    color: white;
}

footer {
    margin-top: 30px;
    background: #0faedf;
    color: white;
    padding: 10px 30px;
}

.lbl-text {
    text-align: start;
    text-indent: 15px;
    font-weight: 500;
    font-size: 16pt;
    color: #0faedf;
}

input, .select {
    color: #0faedf;
    text-indent: 10px;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: 1px #0faedf solid;
}

.btn-envio {
    margin-top: 20px;
    background: #0faedf;
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: none;
}

.bg-padrao {
    background: #0faedf;
    color: white;
}

.bg-blue {
    background: blue;
    color: white;
}

.color-padrao {
    color: #0faedf;
}

.color-white {
    color: white;
}

.color-blue {
    color: blue;
}

.link-defaut {
    color: #0faedf;
    text-decoration: none;
}

.link-defaut:hover {
    color: #0faedf;
    text-decoration: underline;
}

.link-destaque {
    color: blue;
    font-size: x-large;
    text-decoration: underline;
}

.link-destaque:hover {
    color: blue;
    font-size: x-large;
    text-decoration: none;
}

.tam-1 {
    font-size: 12pt;
}

.tam-2 {
    font-size: 16pt;
}

.tam-3 {
    font-size: 20pt;
}

.tam-4 {
    font-size: 24pt;
}

.tam-5 {
    font-size: 30pt;
}

.sair {
    background: rgba(255, 255, 255, 0.432);
}

.sair a {
    color: black;
    text-indent: 2 0px;
}

.info-livro {
    margin-top: 30px;
    padding: 10px 0px;
}

.empr-livro {
    padding: 30px;
    border: black 1px solid;
    margin-bottom: 100px;
}

.notifications{
    background: #0fafdf67;
    border-radius: 20px;
    border: 1px solid black;
}

.notifications li{
    border-radius: 15px;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.397);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.notifications li:hover{
    background: black;
}

.notifications li>h2, li>p{
    color: white;
    margin: 0px auto;
}

.notify{
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.568);
    color: white;
    padding: 30px;
}

.notify>div{
    border-radius: 30px;
    border: white 1px solid;
    padding: 2%;
}


@media (max-width: 768px) {
    .foto-integrante {
        margin-bottom: 50px;
        top: 0;
        left: -20px;
        width: 200px;
        height: 200px;
    }
    .infos-integrante {
        margin-top: 0;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        padding-top: 200px;
        padding-left: 10px;
        padding-bottom: 10px;
        height: 400px;
        width: 100%;
    }

    .sair {
        background: rgb(255, 255, 255);
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 768px)and  (max-width: 886px) {
    .foto-integrante {
        margin-bottom: 50px;
        top: 0;
        left: -20px;
        width: 200px;
        height: 200px;
    }
    .infos-integrante {
        margin-top: 0;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        padding-top: 25px;
        padding-left: 170px;
        padding-bottom: 10px;
        height: 250px;
        width: 100%;
    }
    .sair {
        background: rgb(255, 255, 255);
    }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .foto-integrante {
        width: 200px;
        height: 200px;
    }
    .infos-integrante {
        margin-top: 100px;
        background: rgba(0, 0, 0, 0.5);
        padding-top: 100px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/

@media (min-width: 1996px) {
    .foto-integrante {
        width: 250px;
        height: 250px;
    }
    .infos-integrante {
        margin-top: 0;
        border-bottom-left-radius: 125px;
        border-top-left-radius: 125px;
        padding-top: 50px;
        padding-left: 300px;
        padding-bottom: 10px;
        height: 250px;
    }
}